{% include 'header.html'%}

{% block content %} 
<H1 class="text-center text-secondary"><em>Accesorios</em></H1>
<section>
    <div class="row mx-5">
       <!-- ACCESORIOS -->
       <div class="col-sm-12 col-md-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <img src="../static/img/accesorios/accesorio1.png" class="card-img-top" alt="accesorios">
            <div class="card-header">Accesorios</div>
            <div class="card-body">
              <h4 class="card-title">$5.00</h4>
              <p class="card-text">SIMULADOR DE JALADOR DE REMOLQUE - MOMO</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-light">Comprar</button>
                <button type="button" class="btn btn-outline-light">Ver</button>
            </div>
            </div>
          </div>
       </div>
        <!-- ACCESORIOS -->
       <div class="col-sm-12 col-md-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <img src="../static/img/accesorios/accesorio2.png" class="card-img-top" alt="accesorios">
            <div class="card-header">Accesorios</div>
            <div class="card-body">
              <h4 class="card-title">$75.00</h4>
              <p class="card-text">ALZAS PARA AMORTIGUADOR - NISSAN NP300</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-light">Comprar</button>
                <button type="button" class="btn btn-outline-light">Ver</button>
            </div>
            </div>
          </div>
       </div>
        <!-- ACCESORIOS -->
       <div class="col-sm-12 col-md-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <img src="../static/img/accesorios/accesorio3.png" class="card-img-top" alt="accesorios">
            <div class="card-header">Accesorios</div>
            <div class="card-body">
              <h4 class="card-title">$5.00</h4>
              <p class="card-text">CUBRE CALIPER UNIVERSAL COLOR ROJO</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-light">Comprar</button>
                <button type="button" class="btn btn-outline-light">Ver</button>
            </div>
            </div>
          </div>
       </div>
        <!-- ACCESORIOS -->
       <div class="col-sm-12 col-md-4">
        <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <img src="../static/img/accesorios/accesorio4.png" class="card-img-top" alt="accesorios">
            <div class="card-header">Accesorios</div>
            <div class="card-body">
              <h4 class="card-title">$15.00</h4>
              <p class="card-text">SUJETADOR DE LIPS Y BUMPER</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-light">Comprar</button>
                <button type="button" class="btn btn-outline-light">Ver</button>
            </div>
            </div>
          </div>
       </div>
        <!-- ACCESORIOS -->
       <div class="col-sm-12 col-md-4">
        <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <img src="../static/img/accesorios/accesorio5.png" class="card-img-top" alt="accesorios">
            <div class="card-header">Accesorios</div>
            <div class="card-body">
              <h4 class="card-title">$1.00</h4>
              <p class="card-text">TORNILLOS PARA PLACA</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-light">Comprar</button>
                <button type="button" class="btn btn-outline-light">Ver</button>
            </div>
            </div>
          </div>
       </div>
        <!-- ACCESORIOS -->
       <div class="col-sm-12 col-md-4">
        <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <img src="../static/img/accesorios/accesorio6.png" class="card-img-top" alt="accesorios">
            <div class="card-header">Accesorios</div>
            <div class="card-body">
              <h4 class="card-title">$12.00</h4>
              <p class="card-text">SUJETADOR DE BUMPER</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-light">Comprar</button>
                <button type="button" class="btn btn-outline-light">Ver</button>
            </div>
            </div>
          </div>
       </div>
        <!-- ACCESORIOS -->
       <div class="col-sm-12 col-md-4">
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <img src="../static/img/accesorios/accesorio7.png" class="card-img-top" alt="accesorios">
            <div class="card-header">Accesorios</div>
            <div class="card-body">
              <h4 class="card-title">$7.50</h4>
              <p class="card-text">MARCO PARA PLACA CROMADO HONDA</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-primary">Comprar</button>
                <button type="button" class="btn btn-outline-primary">Ver</button>
            </div>
            </div>
          </div>
       </div>
        <!-- ACCESORIOS -->
       <div class="col-sm-12 col-md-4">
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <img src="../static/img/accesorios/accesorio8.png" class="card-img-top" alt="accesorios">
            <div class="card-header">Accesorios</div>
            <div class="card-body">
              <h4 class="card-title">$7.50</h4>
              <p class="card-text">MARCO PARA PLACA CROMADO TOYOTA</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-primary">Comprar</button>
                <button type="button" class="btn btn-outline-primary">Ver</button>
            </div>
            </div>
          </div>
       </div>
        <!-- ACCESORIOS -->
       <div class="col-sm-12 col-md-4">
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <img src="../static/img/accesorios/accesorio9.png" class="card-img-top" alt="accesorios">
            <div class="card-header">Accesorios</div>
            <div class="card-body">
              <h4 class="card-title">$7.50</h4>
              <p class="card-text">MARCO PARA PLACA CROMADO NISSAN</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-primary">Comprar</button>
                <button type="button" class="btn btn-outline-primary">Ver</button>
            </div>
            </div>
          </div>
       </div>
    </div>
</section>
{% endblock %}

{% include'footer.html' %}