  <footer>
    <div class="bg-primary text-white">
      <p class="text-center">TALLER EL ITALIANO ©</p>
      <p class="text-center">Miguel Angel Braghiroli Lemus.</p>
      <p class="text-center">SIGUENOS EN:</p>
      <div style="text-align: center">
        <button type="button" class="btn btn-primary"><a href="https://www.facebook.com/miguela.braghirolil"><img src="../static/img/footer/facebook.png" width="30" height="30"></a></button>
        <button type="button" class="btn btn-primary"><a href="https://www.instagram.com/mangelbraghi07/"><img src="../static/img/footer/instagram.png" width="30" height="30"></a></button>
        <button type="button" class="btn btn-primary"><a href="https://web.whatsapp.com"><img src="../static/img/footer/whatsapp.png" width="30" height="30"></a></button>
      </div>
    </div>
  </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" 
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" 
    crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" 
    integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" 
    crossorigin="anonymous"></script>
  </body>
</html>