{% include 'header.html'%}

{% block content %} 
<H1 class="text-center text-secondary"><em>Llantas</em></H1>
<section>
    <div class="row mx-5">
       <!-- LLANTAS PICK UP´S -->
       <div class="col-sm-12 col-md-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <img src="../static/img/llantas/llantasPU.png" class="card-img-top" alt="llantas">
            <div class="card-header">Llantas Pick Up</div>
            <div class="card-body">
              <h4 class="card-title">Primary card title</h4>
              <p class="card-text">LLANTA WESTLAKE SL366 185R14 102/100Q</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-light">Comprar</button>
                <button type="button" class="btn btn-outline-light">Ver</button>
            </div>
            </div>
          </div>
       </div>
        <!-- LLANTAS PICK UP´S -->
       <div class="col-sm-12 col-md-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <img src="../static/img/llantas/llantasPU2.png" class="card-img-top" alt="llantas">
            <div class="card-header">Llantas Pick Up</div>
            <div class="card-body">
              <h4 class="card-title">Primary card title</h4>
              <p class="card-text">LLANTA TERRUS ALL-TERRAIN MAX 235/75R15 105T OWL TL</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-light">Comprar</button>
                <button type="button" class="btn btn-outline-light">Ver</button>
            </div>
            </div>
          </div>
       </div>
        <!-- LLANTAS PICK UP´S -->
       <div class="col-sm-12 col-md-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <img src="../static/img/llantas/llantasPU3.png" class="card-img-top" alt="llantas">
            <div class="card-header">Llantas Pick Up</div>
            <div class="card-body">
              <h4 class="card-title">Primary card title</h4>
              <p class="card-text">LLANTA TERRUS ALL-TERRAIN MAX 215/75R15 100S OWL TL</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-light">Comprar</button>
                <button type="button" class="btn btn-outline-light">Ver</button>
            </div>
            </div>
          </div>
       </div>
        <!-- LLANTAS SUV´S -->
       <div class="col-sm-12 col-md-4">
        <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <img src="../static/img/llantas/llantasSUV.png" class="card-img-top" alt="llantas">
            <div class="card-header">Llantas SUV</div>
            <div class="card-body">
              <h4 class="card-title">Dark card title</h4>
              <p class="card-text">LLANTA TOYO EXTENSA A/S P215/65R15 95T.</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-light">Comprar</button>
                <button type="button" class="btn btn-outline-light">Ver</button>
            </div>
            </div>
          </div>
       </div>
        <!-- LLANTAS SUV´S -->
       <div class="col-sm-12 col-md-4">
        <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <img src="../static/img/llantas/llantasSUV2.png" class="card-img-top" alt="llantas">
            <div class="card-header">Llantas SUV</div>
            <div class="card-body">
              <h4 class="card-title">Dark card title</h4>
              <p class="card-text">LLANTA WESTLAKE SU318 225/60R17 99T BL 4PR TL.</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-light">Comprar</button>
                <button type="button" class="btn btn-outline-light">Ver</button>
            </div>
            </div>
          </div>
       </div>
        <!-- LLANTAS SUV´S -->
       <div class="col-sm-12 col-md-4">
        <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <img src="../static/img/llantas/llantasSUV3.png" class="card-img-top" alt="llantas">
            <div class="card-header">Llantas SUV</div>
            <div class="card-body">
              <h4 class="card-title">Dark card title</h4>
              <p class="card-text">LLANTA DUNLOP GRANDTREK PT3 98H 215/70R15</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-light">Comprar</button>
                <button type="button" class="btn btn-outline-light">Ver</button>
            </div>
            </div>
          </div>
       </div>
        <!-- LLANTAS SEDANES -->
       <div class="col-sm-12 col-md-4">
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <img src="../static/img/llantas/llantasSEDAN.png" class="card-img-top" alt="llantas">
            <div class="card-header">Llantas Sedan</div>
            <div class="card-body">
              <h4 class="card-title">Light card title</h4>
              <p class="card-text">LLANTA WESTLAKE RP28 155/70R13 75T</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-primary">Comprar</button>
                <button type="button" class="btn btn-outline-primary">Ver</button>
            </div>
            </div>
          </div>
       </div>
        <!-- LLANTAS SEDANES -->
       <div class="col-sm-12 col-md-4">
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <img src="../static/img/llantas/llantasSEDAN2.png" class="card-img-top" alt="llantas">
            <div class="card-header">Llantas Sedan</div>
            <div class="card-body">
              <h4 class="card-title">Light card title</h4>
              <p class="card-text">LLANTA TOYO PROXES CF2 175/60R14 79H</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-primary">Comprar</button>
                <button type="button" class="btn btn-outline-primary">Ver</button>
            </div>
            </div>
          </div>
       </div>
        <!-- LLANTAS SEDANES -->
       <div class="col-sm-12 col-md-4">
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <img src="../static/img/llantas/llantasSEDAN3.png" class="card-img-top" alt="llantas">
            <div class="card-header">Llantas Sedan</div>
            <div class="card-body">
              <h4 class="card-title">Light card title</h4>
              <p class="card-text">LLANTA COMFORSER CF510 205/55R16 91V BL</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-primary">Comprar</button>
                <button type="button" class="btn btn-outline-primary">Ver</button>
            </div>
            </div>
          </div>
       </div>
    </div>
</section>
{% endblock %}

{% include'footer.html' %}