{% include 'header.html'%}

{% block content %} 
<H1 class="text-center text-secondary"><em>Rines</em></H1>
<section>
    <div class="row mx-5">
        <!-- RINES PICK UP´S -->
       <div class="col-sm-12 col-md-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <img src="../static/img/rines/rinPU.png" class="card-img-top" alt="rinPU">
            <div class="card-header">Rin Pick Up</div>
            <div class="card-body">
              <h4 class="card-title">Primary card title</h4>
              <p class="card-text">RINES VORWART, MODELO: XH828, RIN: 17X9 6X135</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-light">Comprar</button>
                <button type="button" class="btn btn-outline-light">Ver</button>
            </div>
            </div>
          </div>
       </div>
        <!-- RINES PICK UP´S -->
       <div class="col-sm-12 col-md-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <img src="../static/img/rines/rinPU2.png" class="card-img-top" alt="rinPU">
            <div class="card-header">Rin Pick Up</div>
            <div class="card-body">
              <h4 class="card-title">Primary card title</h4>
              <p class="card-text">RINES VORWART, MODELO: XH297, RIN: 17X7.5 6X139.7</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-light">Comprar</button>
                <button type="button" class="btn btn-outline-light">Ver</button>
            </div>
            </div>
          </div>
       </div>
        <!-- RINES PICK UP´S -->
       <div class="col-sm-12 col-md-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <img src="../static/img/rines/rinPU3.png" class="card-img-top" alt="rinPU">
            <div class="card-header">Rin Pick Up</div>
            <div class="card-body">
              <h4 class="card-title">Primary card title</h4>
              <p class="card-text">RINES DARWIN, MODELO: B531, RIN: 17X9 6X139.7</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-light">Comprar</button>
                <button type="button" class="btn btn-outline-light">Ver</button>
            </div>
            </div>
          </div>
       </div>
        <!-- RINES SUV´S -->
       <div class="col-sm-12 col-md-4">
        <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <img src="../static/img/rines/rinSUV.png" class="card-img-top" alt="rinSUV">
            <div class="card-header">Rin SUV</div>
            <div class="card-body">
              <h4 class="card-title">Dark card title</h4>
              <p class="card-text">RINES VORWART, MODELO: XH315, RIN: 15X7 8X100/114.3.</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-light">Comprar</button>
                <button type="button" class="btn btn-outline-light">Ver</button>
            </div>
            </div>
          </div>
       </div>
        <!-- RINES SUV´S -->
       <div class="col-sm-12 col-md-4">
        <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <img src="../static/img/rines/rinSUV2.png" class="card-img-top" alt="rinSUV">
            <div class="card-header">Rin SUV</div>
            <div class="card-body">
              <h4 class="card-title">Dark card title</h4>
              <p class="card-text">RINES VORWART, MODELO: XH631, RIN: 15X8.</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-light">Comprar</button>
                <button type="button" class="btn btn-outline-light">Ver</button>
            </div>
            </div>
          </div>
       </div>
        <!-- RINES SUV´S -->
       <div class="col-sm-12 col-md-4">
        <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <img src="../static/img/rines/rinSUV3.png" class="card-img-top" alt="rinSUV">
            <div class="card-header">Rin SUV</div>
            <div class="card-body">
              <h4 class="card-title">Dark card title</h4>
              <p class="card-text">RINES VORWART, MODELO: XH643, RIN: 16X8 6X139.7</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-light">Comprar</button>
                <button type="button" class="btn btn-outline-light">Ver</button>
            </div>
            </div>
          </div>
       </div>
        <!-- RINES SEDANES -->
       <div class="col-sm-12 col-md-4">
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <img src="../static/img/rines/rinSEDAN.png" class="card-img-top" alt="rinSEDAN">
            <div class="card-header">Rin Sedan</div>
            <div class="card-body">
              <h4 class="card-title">Light card title</h4>
              <p class="card-text">RINES LUXOTIK, MODELO: 3354, RIN: 14X6 8X100/114.3.</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-primary">Comprar</button>
                <button type="button" class="btn btn-outline-primary">Ver</button>
            </div>
            </div>
          </div>
       </div>
        <!-- RINES SEDANES -->
       <div class="col-sm-12 col-md-4">
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <img src="../static/img/rines/rinSEDAN2.png" class="card-img-top" alt="rinSEDAN">
            <div class="card-header">Rin Sedan</div>
            <div class="card-body">
              <h4 class="card-title">Light card title</h4>
              <p class="card-text">RINES VORWART, MODELO: XH1024, RIN: 15X7 8X100/114.3</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-primary">Comprar</button>
                <button type="button" class="btn btn-outline-primary">Ver</button>
            </div>
            </div>
          </div>
       </div>
        <!-- RINES SEDANES -->
       <div class="col-sm-12 col-md-4">
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <img src="../static/img/rines/rinSEDAN3.png" class="card-img-top" alt="rinSEDAN">
            <div class="card-header">Rin Sedan</div>
            <div class="card-body">
              <h4 class="card-title">Light card title</h4>
              <p class="card-text">RINES LUXOTIK, MODELO: 3352, RIN: 14X6 8X100/114.3</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-primary">Comprar</button>
                <button type="button" class="btn btn-outline-primary">Ver</button>
            </div>
            </div>
          </div>
       </div>
    </div>
</section>
{% endblock %}

{% include'footer.html' %}